node_modules/
.next/
.next/cache/
out/
dist/
coverage/
*.log
.vscode/*
!.vscode/settings.json
!.prettierrc.json
!.prettierignore

.env*
!.env.example
*storybook.log
storybook-static

cypress/screenshots/
cypress/videos/
cypress/downloads/
