# dependencies
node_modules/

# next.js
.next/
.next/cache/
out/

# build / coverage / logs
dist/
coverage/
*.log

# env
.env*
!.env.example

# editors
.vscode/*
!.vscode/settings.json

# prettier
!.prettierrc.json
!.prettierignore